body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

#header,
#footer,
.important,
.interesting,
.surprising {
  margin: auto;
  width: 300px;
  height: 100px;
}

#header {
  background-color: blue;
}

#footer {
  background-color: black;
}

.important {
  background-color: red;
}

.interesting {
  background-color: green;
}

.surprising {
  background-color: orange;
}

#header:hover,
#footer:hover,
.important:hover,
.interesting:hover,
.surprising:hover {
  height: 200px;
}
